@CHARSET "ISO-8859-1";


.error {
	font-size: small;
	color: red;
}

.valid {
	font-size: small;
	color: green;
}


/* Login Page */
.loginError{
	color: red;
}


/* Delete Button */
.delete{
	border: 1px solid red;
}
